<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Viajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Registro de Viaje 1 -->
    <ion-item>
      <ion-label>
        <h2>Viaje 1</h2>
        <p>Origen: Origen 1</p>
        <p>Destino: Destino 1</p>
      </ion-label>
    </ion-item>

    <!-- Registro de Viaje 2 -->
    <ion-item>
      <ion-label>
        <h2>Viaje 2</h2>
        <p>Origen: Origen 2</p>
        <p>Destino: Destino 2</p>
      </ion-label>
    </ion-item>

    <!-- Registro de Viaje 3 -->
    <ion-item>
      <ion-label>
        <h2>Viaje 3</h2>
        <p>Origen: Origen 3</p>
        <p>Destino: Destino 3</p>
      </ion-label>
    </ion-item>

    <!-- Registro de Viaje 4 -->
    <ion-item>
      <ion-label>
        <h2>Viaje 4</h2>
        <p>Origen: Origen 4</p>
        <p>Destino: Destino 4</p>
      </ion-label>
    </ion-item>

    <!-- Registro de Viaje 5 -->
    <ion-item>
      <ion-label>
        <h2>Viaje 5</h2>
        <p>Origen: Origen 5</p>
        <p>Destino: Destino 5</p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
