<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mostrar Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Mostrar Posts</ion-title>
    </ion-toolbar>
  </ion-header>

  /* lista de posts */
  <ion-list lines="full">
    <ion-item *ngFor="let post of posts" detail="true">
      <ion-label class="ion-text-wrap">
        <h1>User ID: {{ post.userId }}</h1>
        <h1>ID: {{ post.id }}</h1>
        <h2>Título: {{ post.title }}</h2>
        <h4>Cuerpo del Post: {{ post.body }}</h4>
      </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

