<ion-header>
  <ion-toolbar>
    <ion-title>TeLlevo App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar id="seleccionPerfil">
      <ion-title size="large">Selecciona tu perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Eres: </h1>
  <div class="ion-text-center">
    <ion-button id="conductorButton" (click)="redirigeLoginConductor()">Conductor</ion-button>
    <ion-button id="pasajeroButton" (click)="redirigeLoginPasajero()">Pasajero</ion-button>
  </div>

</ion-content>
