<ion-header>
  <ion-toolbar>
    <ion-avatar>
      <ion-img src="assets/img/images.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar id="seleccionPerfil">
      <ion-title size="large">Selecciona tu perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Selecciona tu perfil:</h1>
  <br />
  <ion-card>
    <ion-card-title>
      <div class="ion-text-center">
        <ion-button
          id="conductorButton"
          shape="round"
          (click)="redirigeLoginConductor()"
          >Conductor</ion-button
        ><br />
        <ion-button
          id="pasajeroButton"
          shape="round"
          (click)="redirigeLoginPasajero()"
          >Pasajero</ion-button
        >
      </div>
    </ion-card-title>
  </ion-card>
</ion-content>
