<ion-header [translucent]="true">
  <ion-menu side="end" id="menu"></ion-menu>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-general"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>Bienvenido, {{ registro.nombreUsuario }}.</h1>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Información Personal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <p><strong>Nombre de Usuario:</strong> {{ registro.nombreUsuario }}</p>
            <p><strong>Nombres:</strong> {{ registro.nombres }}</p>
            <p><strong>Apellidos:</strong> {{ registro.apellidos }}</p>
            <p><strong>Edad:</strong> {{ registro.edad }}</p>
            <p><strong>Correo:</strong> {{ registro.correo }}</p>
            <p><strong>Conductor:</strong> {{ registro.conductor === "1" ? "Sí" : "No" }}</p>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-button expand="full" color="primary" (click)="irViajes()">Historial de Viajes</ion-button>
      <ion-button expand="block" color="success">
        <ion-icon name="send-outline"></ion-icon>ENVIAR DATOS
      </ion-button>
      <ion-button expand="block" color="danger">
        <ion-icon name="trash-outline"></ion-icon>ELIMINAR DATOS
      </ion-button>
      <ion-button expand="block" color="medium">
        <ion-icon name="refresh-outline"></ion-icon>LIMPIAR DATOS
      </ion-button>
    </div>
  </div>
</ion-content>

