<ion-header [translucent]="true">
  <ion-menu side="end" id="menu"></ion-menu>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-general"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>Bienvenido, {{ usuario }}.</h1>

    <!-- Si el usuario es un pasajero -->
    <div *ngIf="esPasajero">
      <h4>Información Personal de Pasajero:</h4>
      <ion-card>
        <ion-card-content>
          <ul>
            <li><strong>Nombre:</strong> {{ informacionPersonal[usuario].nombre }}</li>
            <li><strong>Edad:</strong> {{ informacionPersonal[usuario].edad }}</li>
            <li><strong>Correo:</strong> {{ informacionPersonal[usuario].correo }}</li>
          </ul>
        </ion-card-content>
      </ion-card>
      <ion-button expand="full" (click)="irViajes()">Historial de Viajes</ion-button>
    </div>

    <!-- Si el usuario es un conductor -->
    <div *ngIf="esConductor">
      <p>Información Personal de Conductor:</p>
      <ion-card>
        <ion-card-content>
          <ul>
            <li><strong>Nombre:</strong> {{ informacionPersonal[usuario].nombre }}</li>
            <li><strong>Edad:</strong> {{ informacionPersonal[usuario].edad }}</li>
            <li><strong>Correo:</strong> {{ informacionPersonal[usuario].correo }}</li>
          </ul>
        </ion-card-content>
      </ion-card>
      <ion-button expand="full" >Solicitar Viaje</ion-button>
    </div>
  </div>
</ion-content>

